# Ignore the node_modules directory
/node_modules
/number_guessing-game

# Ignore any built  TypeScript files (JavaScript output)
/dist
# Ignore editor/IDE-specific files and directories
.vscode
.idea
.DS_store